.section-container {
  background-color: #F8F8F8;
  padding: 40px;
}

.user-card {
  background-color: #fff;
  border-radius: 8px 8px 0px 0px;
  border: none;
  top: 40px;
}

.user-bottom-card {
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
}

.user-row {
  padding: 20px;
}

.download-img {
  position: relative;
  top: -2px;
}

.color-light-orange {
  color: #E27A54 !important;
}

.color-blue {
  color: #1676BD !important;
}

.user-container {
  border-bottom: 2px solid #D6D6D6;
}

.ml-2 {
  margin-left: 10px;
}

.btn-prop {
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: 100%;
  padding: 8px;
}

.add-user-btn:hover {
  color: #32B765;
}

.add-user-btn {
  background-color: #fff;
  border: 2px solid #32B765;
  border-radius: 8px;
  color: #32B765;
}

.add-img {
  width: 20px;
  position: relative;
  top: -1.5px;
}

.form-control {
  height: 40px;
  /* font-size: 14px; */
  border: 0.5px solid #707070;
  border-radius: 7px;
  opacity: 1;
}

.img {
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 35px;
}

.bg-green {
  background-color: #00E556;
  color: #F8F8F8;
  border: 1px solid #00E556;
  border-radius: 8px;

}

.table> :not(:first-child) {
  border-top: 0;
}

.user-table thead th {
  background-color: #F8F8F8;
  border: none;
  text-shadow: 1px 1px 34px #ccc;
  color: #717171;
}

.rowAlign {
  text-align: center;
  letter-spacing: 0px;
  color: #717171;
  opacity: 1;
}

.trBody {
  text-align: center;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  border: none;
}

td {
  border: none;
  border-bottom: 1px solid #ccc;

}

.form-control:focus,
.form-control:active,
.form-control:active:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  border: 2px solid #333333 !important;
}

.search-btn {
  margin-left: 5px !important;
}

.add-user-btn:focus,
.add-user-btn:active,
.add-user-btn:active:focus,
.search-btn:focus,
.search-btn:active,
.search-btn:active:focus {
  box-shadow: 0 0 0 0.2rem #87d6a5;
}

.w-20 {
  width: 20%;
}

.user-role {
  border-radius: 26px;
  border: 1px solid #14892F;
  color: #14892F;
  padding: 4px 10px;
  font-size: 12px;
  margin: 4px;
  display: inline-block;
}

.update-icon {
  position: relative;
  top: -2px;
}

.color-blue {
  color: #2879E8;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: #333333;
  transition: all .3s;
  border: none;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 10px 6px;
  height: 38px;
  min-width: 38px;
  border-radius: 38px;
  line-height: 38px;
  padding: 0;
  font-weight: 700;
  letter-spacing: .03em;
  text-align: center;
}

.pagination a.active {
  background-color: #00E556;
  color: #333333;
  border: 1px solid #00E556;
}

.pagination a:hover:not(.active) {
  background-color: none;
}

.text-red {
  color: #d8234C;
}

.text-green {
  color: #04D151;
}

.labels {
  padding: 4px;
}

.filter-row {
  padding: 10px;
}

.searchButton {
  align-self: flex-end;
}

.open-img {
  position: absolute;
  top: 45.5%;
  left: 17.3%;
}

.openTo-img {
  position: absolute;
  top: 45.5%;
  right: 61.8%;
}

.img {
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  padding-left: 8px !important;
}

.form-control-date {
  height: 40px;
  border: 0.5px solid #707070;
  border-radius: 7px;
  opacity: 1;
  border: solid 1px #707070;
  font-size: 14px;
  color: #333333;
  width: 100%;
  padding: 8px;
}

.cancel-button {
  border: 1px solid #333333;
  color: #333333;
  background-color: #fff;
  /* width: 150px; */
  margin-left: 20px
}

.button-cancel {
  margin-left: 10px !important;
}

.button-cancel:focus,
.button-cancel:active,
.button-cancel:active:focus {
  box-shadow: 0 0 0 0.25rem #a7a5a5;
}


table {
  white-space: nowrap;
  display: block;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: auto;
}

table::-webkit-scrollbar {
  height: 10px;
}

table::-webkit-scrollbar-thumb {
  background: #00E556;
  border-radius: 5px;
}

table::-webkit-scrollbar-track {
  border-radius: 5px;
  margin-top: 1rem !important;
}

th {
  width: 15%;
}

.selectOption {
  height: 40px;
  /* font-size: 14px;  */
  border: 0.5px solid #707070;
  border-radius: 7px;
  opacity: 1;
  border: solid 1px #707070;
  font-size: 14px;
  color: #333333;
  width: 100%;
}

.selectOption:focus,
.selectOption:active,
.selectOption:active:focus {
  box-shadow: none !important;
  border: 2px solid #333333 !important;
}

.btn-search {
  height: 42px;
  width: 90%;
}

.btn-export {
  width: 36%;
  margin-left: 20px !important;
}

.filter-padding {
  padding-left: 5px !important;
}

/* cards css */
.amount-cards {
  border: 2px solid rgba(0, 0, 0, .125);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.amountValue {
  font-size: 17px;
}

.labelValue {
  font-size: 14px;
  color: grey;
}

.align-cards {
  /* width: 20% !important; */
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
}

.yellowColor {
  color: #C7BC32
}

.greenColor {
  color: #3FB744;
}

.OrangeColor {
  color: #C9984B;
}

.blueColor {
  color: #4888C7;
}

.purpleColor {
  color: #AA84C6;
}

.lightGreenColor {
  color: #3AA397;
}

.border_right {
  border-right: 2px solid rgba(0, 0, 0, .125);
}

@media screen and (max-width: 946px) {
  table {
    white-space: nowrap;
    display: block;
    overflow: scroll;
  }

  table::-webkit-scrollbar {
    height: 10px;
  }

  table::-webkit-scrollbar-thumb {
    background: #00E556;
    border-radius: 5px;
  }

  table::-webkit-scrollbar-track {
    border-radius: 5px;
    margin-top: 1rem !important;
  }

  .searchButton {
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 575px) {
  .border_right {
    border-bottom: 2px solid rgba(0, 0, 0, .125);
    border-right: none
  }

  .align-card-container {
    padding: 9px;
  }

  .border_last {
    border-bottom: none !important;
  }

  .border_bottom {
    border-bottom: 2px solid rgba(0, 0, 0, .125) !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .border_bottom {
    border-bottom: 2px solid rgba(0, 0, 0, .125);
    border-right: none
  }

  .border_last {
    border-right: none;
    border-bottom: none;
  }

  .align-card-container {
    padding: 9px;
  }
}

@media screen and (min-width: 567px) and (max-width: 767px) {
  .borderBottom {
    border-bottom: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .border_bottom {
    border-bottom: 2px solid rgba(0, 0, 0, .125);
    margin-top: 0px !important;
  }

  .border_last {
    border-bottom: none !important;
  }

  .border_left {
    border-right: none;
  }

  .align-card-container {
    padding: 9px;
  }

  .border_right {
    margin-top: 0px !important;
  }
}

@media screen and (min-width:1030px) {

  .filter-padding {
    width: 14% !important;
  }
}

@media only screen and (width: 1024px) {
  .filter-padding {
    justify-content: flex-start !important;
    width: 25% !important;
  }
}

@media screen and (min-width:450px) and (max-width: 980px) {
  .filter-padding {
    width: 33% !important;

  }

  .searchButton {
    width: 60% !important;
    margin-left: 2px !important;
  }

  .outer-button-container {
    width: 100% !important;
  }

  .inner-button-container {
    width: 45% !important
  }

  .button-cancel {
    margin-left: 2px !important;
  }

}