<div class="section-container">
  <div class="card user-card p-0 mb-5">
    <div class="row mx-0 user-row user-container">
      <div class="col-10 d-flex align-items-center">
        <div class="pointer" (click)="goBack()">
          <img src="assets/img/common/back.png" width="7px" class="mr-3">
        </div>
        <div class="fs25 fw600 color-dark-grey px-3">Edit Role
        </div>
        <div>
          <img src="assets/img/common/right-icon.png" width="7px" class="mr-3">
        </div>
        <div class="fs18 fw500 color-dark-grey ml-2 mt-1">{{this.roleData?.name}}
        </div>
      </div>

    </div>
    <div class="row mx-0 user-row" [formGroup]="createRoleForm">
      <div class="col-6">
        <div class="mb-3">
          <label class="fs12 fw500 label">Role Name <span class="asterisk">*</span></label>
          <input type="text"  class="form-control" formControlName="roleName" placeholder="Role Name" required (keydown)="spaceRestrict($event)"[ngClass]="{'redBorder': this.createRoleForm.get('roleName').invalid &&
          (this.createRoleForm.get('roleName').dirty || this.createRoleForm.get('roleName').touched) ||
          ( this.submitted && this.createRoleForm.get('roleName').invalid )}">
        </div>
      </div>
    </div>

    <div class="card table-card mb-4 inform scroller" id="customscrollbar">
      <table class="table user-table mb-0 text-center">
        <thead>
          <tr class="rowAlign fs15 fw500">
            <th>Module</th>
            <th>Create</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>List</th>
            <th>View</th>
          </tr>
        </thead>
        <tbody class="fs15 fw500" *ngFor="let list of this.getModulelist; let i=index">
          <tr class="trBody cursor-hand">
            <td class="">{{list.value}}</td>
            <td><input class="form-check-input" type="checkbox" [checked]="list?.features?.create && this.roleData?.access[list.id]?.create"
                [disabled]="!(list?.features?.create)" (change)="getChange('create',list.id)"
                value={{list.moduleId}} id="create"></td>
            <td><input class="form-check-input" type="checkbox" [checked]="list?.features?.edit &&this.roleData?.access[list.id]?.edit"
              [disabled]=" !(list?.features?.edit)"  (change)="getChange('edit',list.id)"
                value={{list.moduleId}} id="edit"></td>
            <td><input class="form-check-input" type="checkbox" [checked]="list?.features?.delete &&this.roleData?.access[list.id]?.delete"
                [disabled]="!(list?.features?.delete)" (change)="getChange('delete',list.id)"
                value={{list.moduleId}} id="delete"></td>
            <td><input class="form-check-input" type="checkbox" [checked]="list?.features?.list &&this.roleData?.access[list.id]?.list"
                [disabled]="!(list?.features?.list)" (change)="getChange('list',list.id)"
                value={{list.moduleId}} id="list"></td>
            <td><input class="form-check-input" type="checkbox" [checked]="list?.features?.view &&this.roleData?.access[list.id]?.view"
                [disabled]="!(list?.features?.view)" (change)="getChange('view',list.id)"
                value={{list.moduleId}} id="view"></td>
          </tr>
        </tbody>

      </table>
    </div>
    <div class="row mx-0 mb-3 mx-4">
      <div class="col-lg-8 col-sm-4 col-3 btn-row">
          <button class="btn btn-prop bg-green fs15 fw500 delete-btn cursor-pointer" type="button" (click)="deleteRole()">
              <img src="assets/img/common/Delete.svg" class="ms-2 update-icon"> Delete
          </button>
      </div>

          <div class="col-lg-2 col-sm-4 col-3 d-flex ps-0">

              <button class="col-sm-4 me-3 btn btn-prop bg-green fs15 fw500 cancel-btn " type="button" (click)="goBack()">
                  Cancel
              </button>
              <button class="col-sm-4 btn btn-prop bg-green fs15 fw500 search-btn" type="button" (click)="updateRole()">
                  Save
              </button>
      </div>
  </div>
  </div>
</div>

<ng-template #responseModel let-modal>
  <div class="modal-body pb-4">
    <div class="row mx-0 text-left">
      <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
        <img src="assets/img/common/cross.svg">
        {{this.errorMessage}}
      </div>
    </div>
  </div>
  <div class="w-100 text-center">
    <button class="btn btn-prop color-white bg-red w-50" type="button" data-dismiss="modal"
      (click)="closeModal()">Close</button>
  </div>
</ng-template>

<ng-template #successModel let-modal>
  <div class="modal-body pb-4">
    <div class="row mx-0 text-left">
      <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
        <img src="assets/img/common/tick.svg">
        {{this.successMessage}}
      </div>
    </div>
  </div>
  <div class="w-100 text-center">
    <button class="btn btn-prop close-button color-white bg-green w-50" type="button" data-dismiss="modal"
      (click)="close()">Close</button>
  </div>
</ng-template>

<ng-template #deleteModel let-modal>
  <div class="modal-body pb-4">
    <div class="row mx-0 text-left">
      <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
        {{this.deleteMessage}}
      </div>
    </div>
  </div>
  <div class="w-100 text-center row">
    <button class="btn btn-prop bg-green button-cancel fs15 fw500 cancel-button" type="button" data-dismiss="modal"
      (click)="closeModal()">Cancel </button>
    <button class="btn btn-prop color-white bg-red delete-button" type="button" data-dismiss="modal"
      (click)="confirmDelete()">Delete </button>
  </div>
</ng-template>

<ng-template #updateModel let-modal>
  <div class="modal-body pb-4">
    <div class="row mx-0 text-left">
      <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
        Are you sure you want to update the details?
      </div>
    </div>
  </div>
  <div class="w-100 text-center row">
    <button class="btn btn-prop button-cancel fs15 fw500 cancel-button" type="button" data-dismiss="modal"
      (click)="closeModal()">Cancel </button>
    <button class="btn btn-prop color-white close-button bg-green delete-button" type="button" data-dismiss="modal"
      (click)="roleUpdation()">Save </button>
  </div>
</ng-template>
