
<div>
    <app-header *ngIf="isLoggedIn() == true"></app-header>
</div>
<div class="overlay"></div>
 <div>
  <router-outlet></router-outlet>
 </div>

 <div class="loader" id="loader">
    <app-loader></app-loader>
</div>

<ng-template #responseModel let-modal>
  <div class="modal-body pb-4">
    <div class="row mx-0 text-left">
      <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
        <img src="assets/img/common/cross.svg">
        {{this.errorMessage}}
      </div>
    </div>
  </div>
  <div class="w-100 text-center">
    <button class="btn btn-prop color-white bg-red w-50" type="button" data-dismiss="modal"
      (click)="closeModal()">Close</button>
  </div>
</ng-template>
