<div class="section-container">
    <div class="card user-card p-0 mb-5">
        <div class="row mx-0 user-row user-container">
            <div class="col-10 d-flex align-items-center">
                <div class="pointer" (click)="goBack()">
                    <img src="assets/img/common/back.png" width="7px" class="mr-3">
                </div>
                <div class="fs25 fw600 color-dark-grey px-3">Edit Promotions
                </div>

            </div>

        </div>
        <div class=" pb-4 pt-0">
            <div class="row mx-0 justify-content-center" [formGroup]="editForm">
                <div class="col-sm-12 col-md-6 col-lg-6 px-0 justify-content-center text">
                    <div class="my-3 row">
                        <div class="col-6  enteries" [ngClass]="{'col-12': this.actionValue }">
                            <label>Name <span class="asterisk ">*</span></label>
                            <input class="form-control" type="text" maxlength="100" formControlName="name"
                                (keydown)="spaceRestrict($event)" [ngClass]="{'redBorder': this.editForm.get('name').invalid &&
                      (this.editForm.get('name').dirty || this.editForm.get('name').touched) ||
                      ( this.submitted && this.editForm.get('name').invalid )}" />
                            <div class="messageDiv uxErrorMessage"
                                *ngIf="this.editForm.get('name').invalid &&
                          (this.editForm.get('name').dirty || this.editForm.get('name').touched) || ( this.submitted && this.editForm.get('name').invalid )">
                                <small>Name is required</small>
                            </div>
                        </div>

                        <div class="col-6  enteries" *ngIf="!this.actionValue">
                            <label>Link <span class="asterisk ">*</span></label>
                            <input class="form-control" type="text" formControlName="link"
                                (keydown)="spaceRestrict($event)" [ngClass]="{'redBorder': this.editForm.get('link').invalid &&
                      (this.editForm.get('link').dirty || this.editForm.get('link').touched) ||
                      ( this.submitted && this.editForm.get('link').invalid )}" />
                            <div class="messageDiv uxErrorMessage"
                                *ngIf="this.editForm.get('link').invalid &&
                          (this.editForm.get('link').dirty || this.editForm.get('link').touched) || ( this.submitted && this.editForm.get('link').invalid )">
                                <small>Link is required</small>
                            </div>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                            <div class="mb-4 d-flex">
                                <label class="fw500 mb-0 fs15 pl-0 label-checkbox col-10 d-flex">Promo Validity</label>
                                <label class="switch col-1 ms-3">
                                    <input type="checkbox" formControlName="time" (click)="promoEditvalidity($event)" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row d-flex container-date" *ngIf="this.editForm.controls.time.value==true">
                            <div class="col-lg-6 col-md-6 col-sm-12 width20 mb-2">
                                <div class="w-100" style="margin-bottom: 9px;">
                                    <label class="fw500 mb-0 fs14 labels d-flex mb-1">Start Date Time</label>
                                    <input type="text" class="form-control-date img cursor-pointer"
                                        (keydown)="restrictAlphas($event)" maxlength="10" formControlName="dateFrom"
                                        placeholder="YYYY-MM-DD HH:mm:ss" bsDatepicker [bsConfig]="{ isAnimated: true ,withTimepicker: true,keepDatepickerOpened: true, rangeInputFormat : 'YYYY-MM-DD HH:mm:ss', dateInputFormat: 'YYYY-MM-DD HH:mm:ss'
                           }" [ngClass]="{'redBorder': this.editForm.get('dateFrom').invalid &&
                           (this.editForm.get('dateFrom').dirty || this.editForm.get('dateFrom').touched) ||
                           ( this.submitted && this.editForm.get('dateFrom').invalid )}" />
                                    <div class="messageDiv uxErrorMessage text-start"
                                        *ngIf="this.editForm.get('dateFrom').invalid &&
                               (this.editForm.get('dateFrom').dirty || this.editForm.get('dateFrom').touched) || ( this.submitted && this.editForm.get('dateFrom').invalid )">
                                        <small>Start Date Time is required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 width30">
                                <div class="w-100" style="margin-bottom: 9px;">
                                    <label class="fw500 mb-0 fs14 labels d-flex mb-1">End Date Time</label>
                                    <input type="text" class="form-control-date img cursor-pointer"
                                        (keydown)="restrictAlphas($event)" maxlength="10" formControlName="dateTo"
                                        placeholder="YYYY-MM-DD HH:mm:ss" [minDate]="today"
                                        [bsConfig]="{isAnimated: true  ,withTimepicker: true, keepDatepickerOpened: true,  rangeInputFormat : 'YYYY-MM-DD HH:mm:ss', dateInputFormat: 'YYYY-MM-DD HH:mm:ss'}"
                                        bsDatepicker [ngClass]="{'redBorder': this.editForm.get('dateTo').invalid &&
                            (this.editForm.get('dateTo').dirty || this.editForm.get('dateTo').touched) ||
                            ( this.submitted && this.editForm.get('dateTo').invalid )}" />
                                    <div class="messageDiv uxErrorMessage text-start"
                                        *ngIf="this.editForm.get('dateTo').invalid &&
                                (this.editForm.get('dateTo').dirty || this.editForm.get('dateTo').touched) || ( this.submitted && this.editForm.get('dateTo').invalid )">
                                        <small>End Date Time is required</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                            <div class="mb-2 d-flex">
                                <label class="fw500 mb-0 fs15 pl-0 label-checkbox col-10 d-flex">Action</label>
                                <label class="switch col-1 ms-3">
                                    <input type="checkbox" formControlName="Action" id="isUnlimited" value="isUnlimited"
                                        [checked]="this.actionValue" (change)="action($event)" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>

                        <div *ngIf="this.actionValue" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                            <label class="fw500 mb-0 fs14 labels">Action Type <span class="asterisk ">*</span></label>
                            <ng-select class="form-control img input5 scroller" formControlName="actionTaken"
                                placeholder="Action" (change)="typeDropdown($event)" [ngClass]="{'redBorder': this.editForm.get('actionTaken').invalid &&
                              (this.editForm.get('actionTaken').dirty || this.editForm.get('actionTaken').touched) ||
                              ( this.submitted && this.editForm.get('actionTaken').invalid )}"
                                [items]="this.actionList" bindLabel="value" [scrollLeft]="true" [addTag]="false"
                                appendTo="body" [multiple]="false">
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label"> {{item.value}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>
                        <div *ngIf="this.bundleSelected" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                            <label class="fw500 mb-0 fs14 labels">Bundle <span class="asterisk ">*</span></label>
                            <ng-select class="form-control img input5 scroller" formControlName="bundle"
                                placeholder="Bundle" [ngClass]="{'redBorder': this.editForm.get('bundle').invalid &&
                                (this.editForm.get('bundle').dirty || this.editForm.get('bundle').touched) ||
                                ( this.submitted && this.editForm.get('bundle').invalid )}" [items]="this.bundleList"
                                bindLabel="value" [scrollLeft]="true" [addTag]="false" appendTo="body"
                                [multiple]="false">
                                <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                    <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                        <span class="ng-value-label"> {{item.value}}</span>
                                        <span class="ng-value-icon right" (click)="clear(item)"
                                            aria-hidden="true">×</span>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div>

                        <div *ngIf="this.topupSelected" class="col-12 enteries mt-3">
                            <label>Amount <span class="asterisk ">*</span></label>
                            <input class="form-control" type="number" maxlength="100" formControlName="amount"
                                (keydown)="spaceRestrict($event)" [ngClass]="{'redBorder': this.editForm.get('amount').invalid &&
                                      (this.editForm.get('amount').dirty || this.editForm.get('amount').touched) ||
                                      ( this.submitted && this.editForm.get('amount').invalid )}" />
                            <div class="messageDiv uxErrorMessage"
                                *ngIf="this.editForm.get('amount').invalid &&
                                          (this.editForm.get('amount').dirty || this.editForm.get('amount').touched) || ( this.submitted && this.editForm.get('amount').invalid )">
                                <small>Amount is required</small>
                            </div>
                        </div>

                        <div class="promo-upload col-12 mt-4 mb-1" [ngClass]="{'min-height-img' : !this.editForm.controls.image.value ,'redBorder': this.editForm.get('image').invalid &&
                    (this.editForm.get('image').dirty || this.editForm.get('image').touched) ||
                    ( this.submitted && this.editForm.get('image').invalid )}">
                            <label class="mb-0" for="doc1"
                                [ngClass]="{'upload-promo-img' : !this.editForm.controls.image.value}">
                                <img class="pointer preview-img" id="editPreviewPromo"
                                    [src]="this.imageEdit?  this.imageEdit : 'assets/img/promotion/Upload.svg'"
                                    [ngClass]="{'upload-btn' : this.editForm.controls.image.value}">
                                <div *ngIf="!this.editForm.controls.image.value" class="color-green fw500 fs15">Upload
                                    Image here</div>
                            </label>
                            <input type="file" accept=".jpeg, .jpg, .png" class="d-none" id="doc1"
                                (change)="onUpload($event, 'edit')">
                            <div class="middle mb-2" *ngIf="this.editForm.controls.image.value">

                                <label for="doc1" class="doc1 bg-green btn btn-prop">
                                    <input type="file" accept=".jpeg, .jpg, .png" id="doc1" class="d-none"
                                        (change)="onUpload($event, 'add')">Upload Image
                                </label>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-start fs12 color-red pl-2">
                            <span class="fa fa-info-circle error-info-icon me-1"></span>Only JPG, JPEG and PNG file are
                            allowed and max
                            File size should be 500 KB. The dimensions must be 380 x 140.
                        </div>

                    </div>

                </div>
            </div>
            <div class="row mx-0 justify-content-center mb-3">
                <div class="col-lg-2 col-sm-3 col-4">
                    <button class="btn btn-prop fs15 fw500 cancel-btn" type="button" (click)="goBack()">
                        Cancel
                    </button>
                </div>
                <div class="col-lg-2 col-sm-3 col-4">
                    <button class="btn btn-prop bg-green fs15 fw500 search-btn" type="button"
                        (click)="editPromoDetails()">
                        Continue
                    </button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #responseModel let-modal>
        <div class="modal-body pb-4">
            <div class="row mx-0 text-left">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
                    <img src="assets/img/common/cross.svg">
                    {{this.errorMessage}}
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            <button class="btn btn-prop color-white bg-red w-50" type="button" data-dismiss="modal"
                (click)="closeModal()">Close</button>
        </div>
    </ng-template>

    <ng-template #successModel let-modal>
        <div class="modal-body pb-4">
            <div class="row mx-0 text-left">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
                    <img src="assets/img/common/tick.svg">
                    {{this.successMessage}}
                </div>
            </div>
        </div>
        <div class="w-100 text-center">
            <button class="btn btn-prop close-button color-white bg-green w-50" type="button" data-dismiss="modal"
                (click)="close()">Close</button>
        </div>
    </ng-template>

    <ng-template #confirmationModal let-modal>
        <div class="modal-body pb-2 pt-2">
            <div class="row mx-0 text-left">
                <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
                    <div class="modal-text fs15 color-green details pb-3">
                        <div>Are you sure you want to edit promotion?</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mx-0">
            <div class="col-6 px-1 mb-2">
                <button class="btn btn-prop cancel-btn" type="button" data-dismiss="modal"
                    (click)="back()">Cancel</button>
            </div>
            <div class="col-6 px-1 mb-2">
                <button class="btn btn-prop bg-green" type="button" data-dismiss="modal"
                    (click)="confirmEdit()">Confirm</button>
            </div>
        </div>
    </ng-template>