<div class="section-container">
    <div class="card user-card p-0">
        <div class="row filter-row mx-0" *ngIf="this.accountData.length > 0">
            <div class="details-card card" *ngFor="let data of this.accountData">
                <div class="row py-3 border-bottom">
                    <div class="col-7">
                        <span><img width="20px"
                                [src]="data?.type == 'PREPAID' ? 'assets/img/cms/Prepaid.svg' : 'assets/img/cms/Postpaid.svg'"></span>
                        <span class="fs15 fw500"
                            [ngClass]="{'color-pink' : data?.type == 'PREPAID', 'color-blue' : data?.type == 'POSTPAID'}">{{data?.firstName}}&nbsp;{{data?.lastName}}</span>
                    </div>
                    <div class="col-5 text-end fs15 fw500 txt-label">
                        #{{data?.accountNumber}}
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-6 text-left fw500 ">
                        <div class="fs14 txt-label">Mobile</div>
                        <div class="fs15 color-dark-grey">{{data?.mobile}}</div>
                    </div>
                    <div class="col-6 text-end fw500">
                        <div class="fs14 txt-label">Type</div>
                        <div class="fs15 color-dark-grey">{{getLookups(data?.type)}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row filter-row mx-0 img-position" *ngIf="this.accountData.length == 0"><img
                src="assets/img/common/no-accounts.png" class="w-100">
            <div class="fs20 fw500 color-dark-grey text-center">No Added Accounts</div>
        </div>

    </div>
</div>