<div class="section-container">
    <div class="card user-card p-0" [formGroup]="changePasswordForm">
      <div class="row mx-0 user-row user-container">
      
        <div class="col-lg-10 col-sm-8 col-5 d-flex align-items-center">
          <div class="pointer" (click)="goBack()">
            <img src="assets/img/common/back.png" width="7px" class="mr-3">
          </div>
          <div class="fs25 fw600 color-dark-grey ml-2">Change Password
          </div>
        </div>
      </div>
      <div class="row mx-0 user-row justify-content-center ">
        <div class="row justify-content-center">
            <div class="mt-2 lock-img"><img src="assets/img/common/change-password.svg"></div>
            <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-8">
              <div class="my-5">
                <div class="form-group">
                  <label class="fontsCsshead">Current Password <span class="asterisk">*</span></label>
                  <input type="text" inputmode="numeric" tabindex="1" tabindex="1" class="form-control fontsCss " placeholder="**********" formControlName="password" required autocomplete="off"
                      [ngClass]="{'redBorder': this.changePasswordForm.get('password').invalid &&
                      (this.changePasswordForm.get('password').dirty || this.changePasswordForm.get('password').touched) ||
                      ( this.submitted && this.changePasswordForm.get('password').invalid ),'passworField': this.hideCurrentPassword,'pt-2': (this.hideCurrentPassword && this.changePasswordForm.get('password').value.length>0?true:false) || (!this.hideCurrentPassword && this.changePasswordForm.get('password').value.length<=0?true:false)}" />
                      <div class="messageDiv uxErrorMessage" *ngIf="this.changePasswordForm.get('password').invalid &&
                      (this.changePasswordForm.get('password').dirty || this.changePasswordForm.get('password').touched) ||
                      ( this.submitted && this.changePasswordForm.get('password').invalid )">
                      <small >Current Password is required</small>
                  </div>
                  <img src="assets/img/common/Show Password.svg" class="open-eye-img-first" *ngIf="this.hideCurrentPassword" (click)="showCurrentPassword()">
                  <img src="assets/img/common/Hide password.svg" class="closed-eye-img-first" *ngIf="!this.hideCurrentPassword" (click)="showCurrentPassword()">
              </div> 
                  <div class="form-group">
                    <label class="fontsCsshead">New Password <span class="asterisk">*</span></label>
                    <input type="text" inputmode="numeric" tabindex="1" tabindex="1" class="form-control fontsCss " placeholder="**********" formControlName="newPassword" required autocomplete="off"
                        [ngClass]="{'redBorder': this.changePasswordForm.get('newPassword').invalid &&
                        (this.changePasswordForm.get('newPassword').dirty || this.changePasswordForm.get('newPassword').touched) ||
                        ( this.submitted && this.changePasswordForm.get('password').invalid ),'passworField': this.hideNewPassword,'pt-2': (this.hideNewPassword && this.changePasswordForm.get('newPassword').value.length>0?true:false) || (!this.hideNewPassword && this.changePasswordForm.get('newPassword').value.length<=0?true:false)}" />
                        <div class="messageDiv uxErrorMessage" *ngIf="this.changePasswordForm.get('newPassword').invalid &&
                        (this.changePasswordForm.get('newPassword').dirty || this.changePasswordForm.get('newPassword').touched) ||
                        ( this.submitted && this.changePasswordForm.get('newPassword').invalid )">
                        <small >New Password is required</small>
                    </div>
                    <img src="assets/img/common/Show Password.svg" class="open-eye-img-mid" *ngIf="this.hideNewPassword" (click)="showNewPassword()">
                    <img src="assets/img/common/Hide password.svg" class="closed-eye-img-mid" *ngIf="!this.hideNewPassword" (click)="showNewPassword()">
                </div> 

                  <div class="form-group">
                    <label class="fontsCsshead">Confirm New Password<span class="asterisk">*</span></label>
                    <input type="text" inputmode="numeric" tabindex="1" tabindex="1" class="form-control fontsCss" placeholder="**********" formControlName="confirmNewPassword" required autocomplete="off"
                        [ngClass]="{'redBorder': this.changePasswordForm.get('confirmNewPassword').invalid &&
                        (this.changePasswordForm.get('confirmNewPassword').dirty || this.changePasswordForm.get('confirmNewPassword').touched) ||
                        ( this.submitted && this.changePasswordForm.get('password').invalid ),'passworField': this.hideConfirmPassword,'pt-2': (this.hideConfirmPassword && this.changePasswordForm.get('confirmNewPassword').value.length>0?true:false) || (!this.hideConfirmPassword && this.changePasswordForm.get('confirmNewPassword').value.length<=0?true:false)}" />
                        <div class="messageDiv uxErrorMessage" *ngIf="this.changePasswordForm.get('confirmNewPassword').invalid &&
                        (this.changePasswordForm.get('confirmNewPassword').dirty || this.changePasswordForm.get('confirmNewPassword').touched) ||
                        ( this.submitted && this.changePasswordForm.get('confirmNewPassword').invalid )">
                        <small >Confirm New Password is required</small>
                    </div>
                    <div class="messageDiv uxErrorMessage"
                    *ngIf="(this.changePasswordForm.get('confirmNewPassword').value != this.changePasswordForm.get('newPassword').value) && this.changePasswordForm.get('confirmNewPassword').value !='' ">
                    <small >Passwords do not match.</small>
                </div>
                <img src="assets/img/common/Show Password.svg" class="open-eye-img-last" *ngIf="this.hideConfirmPassword" (click)="showConfirmPassword()">
                <img src="assets/img/common/Hide password.svg" class="closed-eye-img-last" *ngIf="!this.hideConfirmPassword" (click)="showConfirmPassword()">
                </div> 

                  <div class="mb-3">
                     <div class="password-container color-grey">
                        <div class="fs15 fw600 text-left">Password Rules</div>
                        <div class="fs14 fw400 mt-2">
                     <ul>
                        <li>Password must contain minimum 8 characters</li>
                        <li>Password must include UPPER CASE, lower case and a number</li>
                        <li>Password must include a special character such as @#$%^&*!</li>
                      </ul>
                    </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row mx-0 my-4">
                <div class="col-md-12 d-flex justify-content-center">
                  <button type="button" class="btn fs15 fw500 me-2 cancelBtn" (click)="goBack()">Cancel</button>
                  <button type="button" class="btn  btn-prop bg-green fs15 fw500 ms-2 submitBtn" (click)="openConfirmation()">Update</button>
                </div>
              </div>
        </div>
          </div>
      </div>
      </div>
  
     
  
    </div>

    <ng-template #successModel let-modal>
        <div class="modal-body pb-4">
          <div class="row mx-0 text-left">
            <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
              <img src="assets/img/common/tick.svg">
              {{this.successMessage}}
            </div>
          </div>
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-prop close-button color-white bg-green w-50" type="button" data-dismiss="modal"
            (click)="goBack()">Close</button>
        </div>
      </ng-template>

      <ng-template #ConfirmationModal let-modal>
        <div class="modal-body pb-4 pt-2">
          <div class="row mx-0 text-left">
            <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
                      <div class="mb-2 ">
                          <!-- <img src="assets/img/users/log-out2.svg" class="logout-img"><span class="logoutIcon fs20 fw700"></span> -->
                      </div>
                      <div class="modal-text fs15">
                          <div>Are you sure you want to Continue?</div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row mx-0">
            <div class="col-md-12 d-flex justify-content-center">
              <button type="button" class="btn fs15 fw500 me-2 cancelBtn" (click)="close()">Cancel</button>
              <button type="button" class="btn  btn-prop bg-green fs15 fw500 ms-2 submitBtn" (click)="updatePassword()">Update</button>
            </div>
          </div>
      </ng-template>

      <ng-template #responseModel let-modal>
        <div class="modal-body pb-4">
          <div class="row mx-0 text-left">
            <div class="col-sm-12 col-md-12 col-lg-12 px-0 text-left text" id="errorMessage">
              <img src="assets/img/common/cross.svg">
              {{this.errorMessage}}
            </div>
          </div>
        </div>
        <div class="w-100 text-center">
          <button class="btn btn-prop color-white bg-red w-50" type="button" data-dismiss="modal"
            (click)="closeModal()">Close</button>
        </div>
      </ng-template>
